.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr, 1fr);
    padding-top: 10px;
    place-self: center;
    place-content: center;
    align-content: center;
    height: 20%;
    width: 100%;
}

/* styles when country visited */
.rootVisited {
    display: grid;
    grid-template-rows: repeat(2, 1fr, 1fr);
    padding-top: 10px;
    place-self: center;
    place-content: center;
    align-content: center;
    height: 20%;
    width: 100%;
}

.rootVisited .rootWish {
    display: none;
}

.rootVisited .rootAdd {
    display: none;
}

.modalName {
    grid-area: 1 / 1 / 2 / 4;
    padding: 10px;
    font-size: 200%;
    font-weight: 100;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    place-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(45, 45, 45);
}

.modalName a {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

.modalName a:hover {
    color: rgb(74, 74, 238);
}


/* wish button styles */
.rootWish {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
    place-content: center;
    align-content: center;
    font-size: 300%;
    cursor: pointer;
}

.rootWish .wish {
    color: rgb(234, 56, 86);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: color 0.3s ease;
}

.rootWish .notwish {
    color: lightgrey;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.rootWish .animating {
    animation: pulse 0.6s ease-out !important;
    color: rgb(234, 56, 86) !important;
}

.rootWish .notwish:hover {
    color: rgb(234, 56, 86);
    transform: scale(1.1);
}

.rootWish .wish:hover {
    color: rgb(234, 56, 86);
    transform: scale(1.1);
}

/* popUp styles
.popMain {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 4px;
    left: 140px;
    align-items: center; 
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.2) 1px 1px 4px -10px, rgba(60, 64, 67, 0.1) 5px 0px 5px 1px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.popMain::before {
    display: flex;
    content: " ";
    position: absolute;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 2px 6px 12px 1px;
    width: 15px;
    height: 15px;
    top: 13px;
    left: -5px;
    transform: rotate(45deg);
    z-index: -1;
    
}

.popMain .popText {
    font-size: 30%;
    color: black;
    font-weight: lighter;
    text-align: center;
}

.popLink {
    text-decoration: none;
    font-size: 30%;
    text-align: center;
}

.popMain a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration: none;
    text-align: center;
    color: rgb(100, 149, 237);
    border-bottom: 1px dashed rgb(100, 149, 237);
  } */


/* add button styles */
.rootAdd {
    grid-area: 2 / 3 / 3 / 4;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 200%;
    color: rgb(45, 45, 45);
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    place-self: center;
    place-content: center;
    align-content: center;
    color: lightgrey;
}


.rootAdd .wrapper {
    width: 45px;
    place-self: center;
    place-content: center;
    align-content: center;
}

.rootAdd .wrapper:hover {
    background-color: rgb(231, 230, 230);
    border-radius: 10px; 
    transform: scale(1.1); 

}

.rootAdd .wrapper .notvisited{
    color: rgb(119, 119, 119);
    font-weight: lighter;
    place-self: center;
    place-content: center;
    align-content: center;
}

/* info block styles */

.rootInfoLoader, .rootInfoVisited {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    place-content: center;
    padding: 10px;
    font-size: 200%;
    font-weight: 100;
    color: rgb(45, 45, 45);
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    place-self: center;
    place-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.rootInfoWished {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    place-content: center;
    font-size: 150%;
    color: rgb(45, 45, 45);
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    place-self: center;
    place-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    text-wrap: wrap;
}


.wish_container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    font-size: 1.3em;
}


.wish_title {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    line-height: normal;
    font-weight: lighter;
    color: rgb(45, 45, 45);
}

.wish_link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(45, 45, 45);
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.wish_link a {
  color: rgb(119, 119, 119);
  text-decoration: none;
}

.wish_link a:hover {
    color: rgb(74, 74, 238);
}


@keyframes pulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 44, 116, 0));
    }
    50% {
        transform: scale(1.3);
        filter: drop-shadow(0 0 10px rgba(255, 44, 116, 0.8));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 44, 116, 0));
    }
}

@keyframes fillHeart {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


