.root {
    position: relative;
    background: black;
    display: inline flex;
    flex-wrap: nowrap;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.all {
    background-color: black;
}


/* .root:has(> .wrapper:hover) {
    margin-right: 0%;
} */


