.root {
    width: 100%;
    height: fit-content;
    transition: all 0.3s ease;
    position: relative;
}

.content_wrapper {
    width: 90%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    margin-top: 10px;
  
}

.edit_button {
    position: fixed;
    top: 70px;
    right: 5%;
    z-index: 1000;
    margin-left: auto;
    margin-right: 5%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-image: grey;
    border-radius: 8px;
    border: solid grey;
    box-shadow: rgba(83, 82, 84, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: grey;
    width: 80px;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-weight: 900;
    line-height: 1em;
    margin: 10px 0;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.edit_button:active,
.edit_button:hover {
    outline: 0;
    background-color: rgb(59, 59, 61);
    color: white; 
}
  
@media (min-width: 768px) {
  .edit_button {
    font-size: 100%;
    min-width: 80px;
  }
}

.edit_button:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

