.github_button {
    align-items: center;
    background-image: grey;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(83, 82, 84, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: grey;
    background-color: rgb(240, 240, 240);
    display: block;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    justify-content: center;
    line-height: 1em;
    width: 40vh;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin: 50px auto 10px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .github_button:active,
  .github_button:hover {
    outline: 0;
    background-color:  rgba(83, 82, 84, 0.2);
    color: rgb(105, 105, 105);
    
  }
  
  @media (max-width: 768px) {
    .github_button {
      font-size: 100%;
      min-width: 196px;
    }
  }

  .github_output_text {
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    text-decoration: none;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}