.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 999;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.modal_wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: default;  
}

.modal_content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: fit-content;
    width: fit-content;
    min-width: 380px;
    max-width: 600px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px 10px 10px 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-50px);
    transition: opacity 0.3s, transform 0.3s;
    justify-content: center;
    align-items: center; 
    cursor: default;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.crypto_name {
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    margin: 5px;
}

.adress_and_copy {
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    margin: 5px;
}

.adress_and_copy:hover .modal_qr {
    transform: scale(1.2);
    margin-right: 10px;
}

.modal_qr {
    display: flex;
    width: 6vw;
    height: auto;
    align-items: center;
    justify-content: center;   
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.modal_close_button {
    display: flex;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 110%;
    font-family: sans-serif;
    align-items: center;
    justify-content: center; 
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none; 
    color: #333;   
}

.modal_close_button:hover {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
}

.modal_icon {
    display: flex;
    box-shadow: none;
    width: 3vw;
    height: auto;
    margin: 5px;
}

.modal_title {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
    width: 100%; 
    text-align: center;
    font-size: 140%;
    font-weight: 900;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.modal_text {
    display: flex;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 130%;
    font-weight: 900;
    align-items: center;
    justify-content: center;  
    text-align: center; 
    margin: 5px;
    margin-bottom: 10px;
}

img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.clipboard_button {
    display: flex;
    align-items: center;
    justify-content: center;  
    box-shadow: none;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 150%;
    font-weight: 900;
    color: rgb(81, 81, 81);
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.copied {
    font-size: 100%;
    font-weight: 500;
    color: #2edf9b;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media (max-width: 768px) {
    .modal {
        padding: 15px; 
    }
    
    .modal_wrapper {
        max-width: 95%; 
    }
    
    .modal_content {
        width: 85%; 
        padding: 30px 15px 15px 15px;
    }
    
    .modal_close_button {
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        font-size: 18px;
    }

    .adress_and_copy {
        font-size: 90%;
    }

    .clipboard_button {
        width: 25px;
        height: 25px;
    }

    .modal_qr {
        display: none;
    }
}

@media (max-width: 480px) {
    .modal {
        padding: 10px; 
    }
    
    .modal_wrapper {
        max-width: 100%; 
    }
    
    .modal_content {
        width: 90%;
        padding: 25px 10px 10px 10px;
    }
    
    .modal_close_button {
        top: 3px;
        right: 3px;
        width: 22px;
        height: 22px;
        font-size: 16px;
    }

    .adress_and_copy {
        font-size: 90%;
    }

    .clipboard_button {
        width: 25px;
        height: 25px;
    }

    .modal_qr {
        display: none;
    }
}

