
.root {
    width: 100%;
    height: fit-content;
    transition: all 0.3s ease;
}

.wishContainer {
    display: inline-flex;
    width: 90%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.wishContainer::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 1%;
    right: 1%;
    height: 1px;
    background-color: rgb(214, 208, 208);
    transition: all 0.3s ease;
}


.wishContainer:hover {
    background: linear-gradient(144deg,#5a585d, #c4b2d5 50%,#b6adbf);
	background-size: 200% 200%;
	animation: gradient 3s ease infinite;
    cursor: default;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.wishContainer:hover::after {
    opacity: 0;
    height: 0;
}


@keyframes gradient {
    0% { 
        background-position: 0% 50%; 
    }
    50% { 
        background-position: 100% 50%; 
    }
    100% { 
        background-position: 0% 50%; 
    }
}

.like {
    visibility: hidden;
    justify-content: center;
    width: 45px;
}

.wishContainer:hover .like {
    visibility: visible;
    display: block;
    justify-content: center;
    align-self: center;
    font-size: 300%;
    cursor: pointer;
    color: rgb(234, 56, 86);
    margin-left: 3vw;
    margin-right: 3vw;
}

.wishContainer:hover .like:hover {
    color: lightgrey;
    transform: scale(0.9);

}

.visited {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-sizing: border-box;
    position: relative;
}

.wishContainer:hover .visited {
    visibility: visible;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    cursor: pointer;
    color: grey;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
}

.wishContainer:hover .visited:hover {
    background-color: lightgray;
    border-radius: 10px;
    min-width: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* .visited:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
} */

.flag {
    position: relative;
    display: block;
    width: fit-content;
    align-self: center;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flag img {
    height: 9vh;
    width: 9vh;
    box-shadow: none;
}


.name {
    position: relative;
    display: block;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    align-self: center;
    font-size: 300%;
    font-weight: 100;
    letter-spacing: 5px;
    color: #0a0806;
    padding-left: 20px;
    padding-right: 20px;
    word-break: keep-all;
}

.wishContainer:hover .name {
    color: aliceblue;
}

@media (max-width: 768px) {
    
    .flag {
        padding-left: 15px;
        padding-right: 5px;
    }
    
    .flag img {
        height: 4vh;
        width: auto;
    }
    
    .name {
        font-size: 125%;
        letter-spacing: 2px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: inline-flex;
    }

    .wishContainer:hover .like {
        font-size: 250%;
        margin-right: 2vw;
    }
    
    .wishContainer:hover .visited {
        font-size: 170%;
        margin-left: 2vw;
    }
}

@media (max-width: 480px) {

    .wishContainer {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .wishContainer::after {
        left: 3%;
        right: 3%;
    }
    
    .flag {
        padding-left: 10px;
        padding-right: 3px;
    }
    
    .name {
        font-size: 125%;
        letter-spacing: 1px; 
    }

    .wishContainer:hover .like {
        font-size: 200%;
        margin-right: 1vw;
    }
    
    .visited {
        width: 30px;
        height: 30px;
    }

    .wishContainer:hover .visited {
        
        font-size: 150%;
        width: 30px;
        height: 30px;
    }

    .wishContainer:hover .visited:hover {
        border-radius: 6px;
        min-width: 30px;
        min-height: 30px;
        
    }

}