.root {
    position: relative;
    display: inline flex;
    flex-wrap: nowrap;
    place-self: center;
    justify-content: center;
    align-items: center;
}

.wrapper { 
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    align-items: center;
}

.actionButtons {
    position: relative;
    display: inline flex;
    visibility: hidden;
    flex-wrap: nowrap;
    align-items: center;
}

.actionIfVisited {
    position: relative;
    display: inline flex;
    visibility: hidden;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.actionIfVisited:last-child {
    display: none;
}

.actionIfVisited .visited {
    display: flex;
    /* transition-delay: 350ms; */
    /* transition-timing-function: ease-in-out; */
    visibility: hidden;
    place-items: center;
    justify-content: center;
    height: 0px;
    width: 0px;
    background-color: #2edf9b;
    border-radius: 5px;
}


.flag {
    visibility: hidden;
    padding-right: 10px;
    justify-content: center;
    place-content: center;
    align-content: center;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
}

.flag img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;

}

.like, .wished {
    position: relative;
    display: flex;
    height: 0px;
    width: 0px;
    visibility: hidden;
    place-self: center;
    justify-content: center;
}

.wished {
    color: rgb(234, 56, 86) !important;
}

.animating {
    animation: pulse 0.6s ease-out !important;
    color: rgb(234, 56, 86) !important;
}

.country:hover .wished:hover {
    color: rgb(234, 56, 86);
    transform: scale(1.1);
}

.country:hover .like:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 44, 116, 0));
    }
    50% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 10px rgba(255, 44, 116, 0.8));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 44, 116, 0));
    }
}



.likeIfVisited {
    display: none;
}

.add, .visited {
    display: flex;
    height: 0px;
    width: 0px;
    visibility: hidden;
    place-self: center;
    justify-content: center;
    color: whitesmoke;
}

.add:hover {
    animation: pulse 1s ease-out !important;
}

.country {
    display: flex;
    height: 5vh;
    flex-wrap: nowrap;
    color: whitesmoke;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: clamp(24px, 4vw, 400%);
    cursor: pointer;
    text-align: center;
    place-self: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease;   
}


.country:hover {
    color: #9fd6c1;
}

.country:hover .flag img{ 
    transition-delay: 150ms;
    transition-timing-function: ease-in-out;
    visibility: visible;
    height: 100%;
    width: 3vw;
    margin-left: 5px;
    min-width: 50px;
    min-height: 50px;
}

.country:hover .wished {
    display: flex;
    font-size: 90%;
    transition-delay: 250ms;
    transition-timing-function: ease-in-out;
    visibility: visible;
    place-items: center;
    justify-content: center;
    height: 3vh;
    width: 3vw;
    min-width: 30px;
    min-height: 30px;
    color: red;
    object-fit: contain;

}

.country:hover .like {
    display: flex;
    font-size: 90%;
    transition-delay: 250ms;
    transition-timing-function: ease-in-out;
    visibility: visible;
    place-items: center;
    justify-content: center;
    height: 3vh;
    width: 3vw;
    min-width: 30px;
    min-height: 30px;
    color: whitesmoke;
    object-fit: contain;

}

.country:hover .add {
    display: flex;
    transition-delay: 350ms;
    transition-timing-function: ease-in-out;
    visibility: visible;
    place-items: center;
    justify-content: center;
    font-size: 60%;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 3vh;
    width: 3vw;
    min-width: 30px;
    min-height: 30px;
}

.country:hover .visited {
    display: flex;
    visibility: visible;
    place-items: center;
    justify-content: center;
    font-size: 60%;
    font-weight: lighter;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 4vh;
    width: 5.5vw;
    margin-left: 5px;
    pointer-events: none;
}


