.root {
    width: 100%;
    height: 100%;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.h1 {
    width: 100%;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 300%;
    justify-content: center;
    text-align: center;
}

.h2 {
    width: 100%;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 200%;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
}

.greetings {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
}

.share_button {
    white-space: nowrap;
    align-items: center;
    background-image: grey;
    border: 0;
    border-radius: 8px;
    border: solid grey;
    box-shadow: rgba(83, 82, 84, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: grey;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    min-width: 120px;
    margin: 10px 0;
    margin-bottom: 0;
    padding: 12px 20px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.share_button:active,
.share_button:hover {
    outline: 0;
    background-color: rgb(59, 59, 61);
    color: white; 
}

.links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  flex-wrap: nowrap;
}

.link_to_countries{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 300px; 
  height: 30vh;
  min-height: 300px;
  border: none;
  border-radius: 10%;
  margin: 5%;
  color: white;
  font-size: 275%;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  line-height: 1.2;
  -webkit-text-stroke: 1px #704e7050;
}

.link_to_countries:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.link_to_flags {
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('images/home-background.webp') center/cover no-repeat,
    #2b0a4a;
    opacity: 80%;
}
.link_to_names {
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('images/profile_img.webp') center/cover no-repeat,
    #2b0a4a;
     opacity: 80%;
}
  
@media (min-width: 768px) {
  .share_button {
    font-size: 100%;
    min-width: 196px;
  }
}