@font-face {
  font-family: 'EireneSans';
  src: url('./fonts/EireneSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'EireneSans';
  src: url('./fonts/EireneSans-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Peristiwa';
    src: url('./fonts/Peristiwa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  margin: 0;
  font-family: 'EireneSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'EireneSans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  background-color: antiquewhite;

}

.dark {
  background-color: black;
}

.content-with-header {
  padding-top: 60px; 
  min-height: calc(100vh - 60px); 
}

.content {
  padding-top: 0;
  min-height: 100vh;
}

.h1 {
    width: 100%;
    font-family: 
      'EireneSans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell, 
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 300%;
    justify-content: center;
    text-align: center;
}


