.page_layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.back_home_button {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    align-items: center;
    justify-content: center;
    appearance: none;
    border-radius: 8px;
    color: #333;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}

.back_home_button:hover {
    background-color: #E7E6E6;
    border-radius: 10px;
}

.signin_container {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
  max-width: 700px;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #FFFFFF 0%, #F5F5F5 100%);
  font-size: 16px;
}

.alt_method_container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.separation_line {
  position: relative;
  color: #808080;
  width: max-content;
  min-width: 200px;
  max-width: 400px;
  width: 30%;
  border-bottom: 1px solid #808080;
  padding: 10px;
  margin: 25px auto 15px;
  text-align: center;
  font-family: 
    'EireneSans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell, 
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.auth_container {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.img_container {
  flex: 1;
  background: url('images/sign_img_3.webp') center/cover no-repeat;
  background-size: cover;
  position: relative;
}


@media (max-width: 768px) {
  .page_layout {
    min-height: 100vh;
    padding: 0;
  }

  .signin_container {
    flex: 0 0 100%;
    justify-content: center;
    width: 100%;
  }

  .auth_container {
   padding: 0px;
}

  .back_home_button {
    min-width: 44px;
    min-height: 44px;
}
    
  .back_home_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

  .img_container {
    display: none;
  }

  .separation_line {
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .page_layout {
    justify-content: center;
    min-height: 100vh;
  }
  
  .signin_container {
    flex: 0 0 100%;
  }

  .auth_container {
    max-width: 100%;
  }

  .sign_button, 
  .reset_button,
  .need_acc_button, 
  .cancel_reset_button {
    font-size: 100%;
  }

  .separation_line {
    margin: 5px;
  }
}